@import "~leaflet/dist/leaflet.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#mapchooser {
  background: #f2f2f2;
}

.leaflet-left .leaflet-control {
  margin-left: 25px;
}

.leaflet-top .leaflet-control {
  margin-top: 25px;
}

.rc-color-picker-panel-params {
  display: none;
}

.custom-tooltip-before:before {
  border-top-color: transparent !important;
  border-left-color: white !important;
  border-width: 20px !important;
  left: -1px !important;
  margin-left: 0 !important;
}

@media (max-width: 767px) {
  body.fullscreen-active #map-header {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}